@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-underline {
    position: relative;
  }

  .nav-underline::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    height: 2px;
    width: 0;
    background: blue;
    left: -5px;
    transition: width 0.3s ease;
  }

  .nav-underline:hover::after {
    width: 120%;
  }
}
